<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
<head>
    {{ partial "head.html" . }}
    <title>Puzzle Solutions</title>
    <link rel="icon" href="https://i.ibb.co/S0nJvQ7/1-removebg-preview-modified.png">
</head>
<body class="bg-gray-900 text-white">
    {{ partial "navbar.html" . }}
    <div class="pt-14">
        {{ block "main" . }}{{ end }}
    </div>
    {{ $isHome := eq .RelPermalink "/" }}
    {{ if not $isHome }}
        {{ partial "footer.html" . }}
    {{ end }}
    {{ partial "scripts.html" . }}
</body>
</html>
